* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: white;
}

ul,
li {
	list-style: none;
}

input:focus {
	outline: none;
}

button {
	font-family: "Nanum Gothic", sans-serif;
	cursor: pointer;
	border: none;
	color: #fff;
	background-color: transparent;
}

/* contents */
.contents {
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translate(-50%);
	width: 600px;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.top li strong {
	font-size: 24px;
}

.top button {
	margin-right: 8px;
}

.top button i {
	font-size: 20px;
	color: white;
}

/* goal list */
.goal-list {
	height: 70vh;
	overflow: auto;
	-ms-overflow-style: none;
}

.goal-list::-webkit-scrollbar {
	background-color: rgb(38, 38, 38);
	width: 10px;
}

.goal-list::-webkit-scrollbar-thumb {
	background-color: rgb(143, 143, 143);
	border-radius: 10px;
}

.goal-list li {
	margin-top: 3px;
	padding: 8px;
	transition: all 0.3s ease;
}

.goal-list li:hover {
	background-color: rgb(38, 38, 38);
	border-radius: 5px;
}

.goal-list div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.goal-list strong {
	background-color: #343333;
	color: #00c2ff;
	border: 1px solid #343333;
	border-radius: 5px;
	padding: 5px;
}

.goal-list i {
	font-size: 18px;
	color: #a7a7a7;
}

main {
	display: none;
}

/* modal */
.modal {
	display: none;
	font-family: "Nanum Gothic", sans-serif;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	background-color: #262424;
	border-radius: 14px;
	color: #fff;
	padding: 15px;
}

.modal.active {
	display: block;
}

.modal div:first-child {
	display: flex;
	justify-content: space-between;
}

.modal div strong {
	font-size: 16px;
}

.edit_confirm,
.create_confirm {
	font-size: 16px;
}

.input-goal {
	width: 100%;
	margin-top: 10px;
	height: 30px;
	background-color: #262424;
	border: 1px solid transparent;
	border-bottom: 2px solid #00c2ff;
	color: white;
	font-size: 16px;
}

.input-goal.edit {
	color: #00c2ff;
}

.input-goal.edit::-webkit-input-placeholder {
	color: #00c2ff;
}

.color {
	margin-top: 20px;
}

.color ul {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.color ul button {
	height: 25px;
	width: 25px;
	border-radius: 15px;
	background-color: #d07e7e;
}

.color ul li .active {
	border: 2px solid white;
}

.modal_btn {
	width: 100%;
	height: 38px;
	background-color: #c4c4c4;
	margin-top: 20px;
	color: black;
	font-size: 15px;
	font-weight: bold;
}

.modal_btn.edit {
	color: #d91616;
}

.modal > strong {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_delete {
	display: flex;
	justify-content: space-between;
}

.modal_btn.exit,
.modal_btn.delete {
	width: 155px;
	border-radius: 3px;
	background-color: #474747;
	color: white;
}
