* {
	margin: 0;
	padding: 0;
}

body {
	user-select: none;
}

/* Header */
.header {
	background-color: #000;
	height: 94px;
}


.header__tab-button {
	background: no-repeat url('/assets/images/tab-button.png');	
	background-size: contain;
}

.header__prev-button,
.header__tab-button {
	width: 25px;
	height: 25px;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 47px;
	left: 30px;
	transform: translateY(-50%);
	cursor: pointer;
}

.header__title {
	text-align: center;
	line-height: 94px;
}

.header__title > a {
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-size: 32px;
	text-decoration: none;
	font-style: italic;
}
