* {
	margin: 0;
	padding: 0;
}

body {
	user-select: none;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

/* main container */

.main_container {
	max-width: 1300px;
	margin: 70px auto;
	display: flex;
}

/* left container */

.container {
	width: 50%;
}

/* friend */

.friend-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.friend-user {
	display: inline-block;
}

.friend-container__friend-list {
	width: 80%;
	overflow: auto;
	white-space: nowrap;
	-ms-overflow-style: none;
}

.friend-list::-webkit-scrollbar {
	/* display: none; */
}

.friend-container__friend-list li {
	display: inline-block;
}

.friend-user,
.friend {
	border-radius: 35px;
	border: 1px solid transparent;
	background-color: #5f5f5f;
	width: 50px;
	height: 50px;
	color: white;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;
	margin: 0 8px 0 0;
}

friend-container__friend-list .active {
	border: 2px solid black;
}

.friend-user:hover,
.friend:hover {
	background-color: #c4c4c4;
}

.fas {
	line-height: 0;
}

.friend-add-btn a {
	color: #5f5f5f;
	font-size: 50px;
	line-height: 53px;
}

.friend-add-btn a:hover {
	color: #c4c4c4;
	transition: 0.5s;
}

/* user name */

.user-name {
	font-weight: 900;
	font-size: 30px;
	margin-bottom: 15px;
}

/* status */

.status {
	left: 79px;
	top: 303px;
	display: flex;
}

.date {
	display: flex;
	margin: 0 12px 0 0;
	font-weight: 900;
	font-size: 30px;
	line-height: 35px;
}

.date-year,
.date-month,
.date-day {
	margin-right: 3px;
}

.check-box {
	display: flex;
}

.check-box-img {
	font-size: 20px;
	margin: 0 3px 0 0;
	line-height: 35px;
}

.finish {
	font-weight: 900;
	font-size: 20px;
	line-height: 35px;
	margin: 0 5px 0 0;
}

.like {
	display: flex;
	margin: 0 7px 0 0;
}

.liked {
	font-weight: 900;
	font-size: 20px;
	line-height: 35px;
}

.like-img {
	font-size: 20px;
	line-height: 35px;
	margin: 0 3px 0 0;
}

.move-btn {
	display: flex;
	margin: 0 0 0 60px;
}

.prev-btn,
.next-btn {
	font-size: 20px;
	line-height: 35px;
	margin: 0 10px 0 10px;
	cursor: pointer;
}
