* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration:none;
    color: white;
}
ul, li {
    list-style: none;
}
/* header */
input:focus {
    outline:none;
}
.header {
    background-color: #000;
    height: 94px;
}
.header_title {
    text-align: center;
    font-style: italic;
    line-height: 94px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* Sign up */
.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
.sign-up_title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-bottom: 40px;
}
.sign_list {
    margin-bottom: 30px;
}
.sign_item_title {
    font-weight: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    margin-bottom: 12px;
}
.sign_input {
    position: relative;
    margin-top: 7px;
}
.sign_input::after {
    content: "\f00c";
    font-family:FontAwesome;
    color: #cfd2d4;
    position: absolute;
    left: 465px;
    top: 10px;
}
.sign_input_item,
.sign-up_button {
    width: 500px;
    height: 35px;
    padding-left: 14px;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    border-radius: 0;
    border: 1px solid #ccd2d8;
}
.sign-info > p {
    margin-top: 6px;
    font-size: 12px;
    color: #696564;
    font-family: 'Nanum Gothic', sans-serif;
}
p.sign-err {
    margin-top: 6px;
    font-size: 12px;
    color: red;
    display: none;
    font-family: 'Nanum Gothic', sans-serif;
}
p.active {
    display: block;
}
p.hide {
    display: none;
}
/* 버튼 높이: 50 */
.sign-up_button {
    cursor: pointer;
    background-color: #C4C4C4;
    border: 1px solid black;
    font-weight: bolder;
    padding-left: 0;
}
.sign-up_button > button {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.sign-up_button > button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}