* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

input:focus {
  outline: none;
}

button {
  font-family: 'Nanum Gothic', sans-serif;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

body {
  position: relative;  
}

/* Simple input */
.simple-input {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.simple-input__main-title {
  padding: 36px 0;
  text-align: center;
  font-size: 24px;
}

.simple-input__container {
  background-color: #000;
  margin: 0 auto;
  width: 650px;
  height: 70vh;
  position: relative;
}

.simple-input__container:hover .simple-input__cover-bar {
  opacity: 0;
  transition: all .5s;
}

.simple-input__container-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.simple-input__container-scroll::-webkit-scrollbar {
  width: 10px;
}

.simple-input__container-scroll::-webkit-scrollbar,
.simple-input__container-scroll::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}

.simple-input__container-scroll::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.2); 
}

/* Goal */
.simple-input__content {
  margin-top: 36px;
}

.simple-input__content:first-child {
  margin-top: 0;
}

.simple-input__goal-btn {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  min-width: 100px;
  background-color: #4A4848;
  padding: 8px 28px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 28px;
}

.simple-input__goal {
  margin-right: 10px;
}

/* Simple input about Goal */
.simple-input__list {
  margin-top: 32px;
  font-family: 'Nanum Gothic', sans-serif;
}

.simple-input__list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.simple-input__goal-title::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../images/simple-input-status.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.simple-input__goal-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.simple-input__edit-btn {
  border: none;
  cursor: pointer;
}

.simple-input__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #2E2D2D;
  margin-bottom: 16px;
}

.simple-input__list-item:last-child {
  margin-bottom: 0;
}

.simple-input__list-title {
  font-size: 18px;
  font-weight: 400;
}

.simple-input__list-data {
  font-size: 16px;
}

.simple-input__cover-bar {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .5s;
  opacity: 1;
  background-color: #000;
}

/* Modal */
.modal {
  display: none;
  font-family: 'Nanum Gothic', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: #262424;
  border-radius: 14px;
  color: #fff;
}

.modal__title {
  color: #939393;
  font-size: 12px;
}

.modal__description {
  display: block;
  text-align: center;
}

.modal__btn-group {
  display: flex;
  align-items: center;
}

.modal__btn {
  height: 38px;
  background-color: #474747;
  border-radius: 4px;
  font-size: 16px;
}

/* Edit Modal */
.modal.edit {
  height: 215px;
}

.modal__description.edit {
  padding: 27px 0;
}

.modal__btn-group.edit {
  flex-direction: column;
}

.modal__btn-item.edit {
  margin-bottom: 7px;
}

.modal__btn-item.edit:last-child {
  margin-bottom: 0;
}

.modal__btn.edit {
  width: 320px;
}

/* Delete Modal */
.modal.delete {
  height: 115px;
}

.modal__description.delete {
  font-size: 14px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 14px 0;
}

.modal__btn-group.delete {
  justify-content: center;
}

.modal__btn-item.delete {
  margin-right: 12px;
}

.modal__btn-item.delete:last-child {
  margin-right: 0;
}

.modal__btn.delete {
  width: 155px;
}

/* Date Picker Modal */
.modal.date-picker {
  width: 350px;
  padding: 20px;
}

.modal__title.date-picker {
  margin-bottom: 16px;
}

.modal__date.date-picker {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal__btn.date-picker {
  width: 100%;
  margin-right: 12px;
}

.modal__btn.date-picker:last-child {
  margin-right: 0;
}

/* Calendar */
.custom_calendar_table {
  margin-bottom: 16px;
}

.custom_calendar_table td {
  text-align: center;
}

.custom_calendar_table tr:first-child {
  margin-bottom: 12px;
}

.cal_week tr {
  height: 30px;
}

.custom_calendar_table thead.cal_date th {
  font-size: 16px;
  font-weight: 400;
}

.custom_calendar_table thead.cal_date th button {
  font-size: 12px;
}

.custom_calendar_table thead.cal_week th {
  font-size: 12px;
  font-weight: 400;
  color: #939393;
}

.custom_calendar_table thead.cal_week th:nth-child(1) {
  color: #ff0000;
}

#custom_set_date tr {
  height: 40px;
}

.custom_calendar_table tbody td {
  cursor: pointer;
}

.custom_calendar_table tbody td:nth-child(1) {
  color: #ff0000;
}

.custom_calendar_table tbody td.select_day {
  border-radius: 50%;
  background-color: #Fff;
  color: #000;
}

/* Date */
.modal.date {
  padding: 20px;
}

.modal__title.date {
  margin-bottom: 24px;
}

.modal__list-item {
  margin-bottom: 12px;
  border-bottom: 1px solid #2E2D2D;
  cursor: pointer;
}

.modal__list-item:last-child {
  margin-bottom: 24px;
}

.modal__list-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.circle-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #939393;
  background-color: transparent;
  margin-right: 10px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #939393;
}

.modal__week {
  font-size: 16px;
}

.modal__btn.date {
  width: 100%;
  margin-right: 12px;
}

.modal__btn.date:last-child {
  margin-right: 0;
}

/* Modal Active */
.active {
  display: block;
}

