* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

input:focus {
  outline: none;
}

button {
  font-family: 'Nanum Gothic', sans-serif;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

/* Simple input */
.simple-input {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.simple-input__main-title {
  padding: 36px 0;
  text-align: center;
  font-size: 24px;
}

.simple-input__container {
  margin: 0 auto;
  width: 650px;
  max-height: 650px;
  overflow: scroll;
}

.simple-input__container::-webkit-scrollbar {
  display: none;
}

/* Goal */
.simple-input__content {
  margin-top: 36px;
}

.simple-input__content:first-child {
  margin-top: 0;
}

.simple-input__goal-btn {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  min-width: 100px;
  background-color: #4A4848;
  padding: 8px 28px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 28px;
}

.simple-input__goal {
  margin-right: 10px;
}

/* Simple input about Goal */
.simple-input__list {
  margin-top: 32px;
  font-family: 'Nanum Gothic', sans-serif;
}

.simple-input__list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.simple-input__goal-title::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../images/simple-input-status.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.simple-input__goal-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.simple-input__edit-btn {
  border: none;
  cursor: pointer;
}

.simple-input__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #2E2D2D;
  margin-bottom: 16px;
}

.simple-input__list-item:last-child {
  margin-bottom: 0;
}

.simple-input__list-title {
  font-size: 18px;
  font-weight: 400;
}

.simple-input__list-data {
  font-size: 16px;
}

