* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: black;
	user-select: none;
}

button {
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

/* container */
.container {
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	align-items: center;
}

.icon {
	margin-bottom: 24px;
}

.start-title {
	font-family: Roboto;
	font-style: italic;
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
}

.description {
	display: block;
	margin: 7px 0 88px 0;
}

.start-login-btn {
	justify-content: center;
	width: 350px;
	height: 50px;
	background-color: #c4c4c4;
	left: 50%;
	transition: 0.5s;
	font-weight: 600;
	color: black;
	font-size: 20px;
}

.start-login-btn:hover {
	box-shadow: 0 0 3px 3px #c4c4c4;
}
